@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  line-height: normal;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper .swiper-slide {
  height: auto;
}

.swiper .swiper-pagination {
  position: unset;
  margin-top: 40px;
}

.swiper-transition .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #d9d9d9;
  opacity: 1;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffa726;
}

@media only screen and (max-width: 768px) {
  .swiper .swiper-pagination {
    position: unset;
    margin-top: 32px;
  }

  .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
